#jumbo2 {
  width: 80%;
  background-image: url("../img/card.png");
  height: 350px;
  margin: 49px 150px 53px 150px;
  border-radius: 30px;
}
#j2h6 {
  color: #ff723d;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  left: 6.81%;
  right: 76.5%;
  top: 21.08%;
  bottom: 73.78%;
}
#j2h1 {
  color: #000000;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 62px;
  position: relative;
  left: 6.81%;
  right: 50.88%;
  top: 20%;
  width: 500px;
}
#textj2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #3d3d3d;
  position: relative;
  left: 6.81%;
  right: 62.69%;
  top: 20%;
  width: 494px;
  height: 60px;
}
