#jumbo1 {
  height: 620px;
  background-image: url("../img/tools.png");
}
.jumbo-container {
  width: 30%;
}
#j1h1 {
  color: #ffffff;
  font-family: Mulish;
  font-size: 68px;
  position: relative;
  height: 96.88px;
  left: 1080px;
  top: 220px;
}
#j1h2 {
  color: #ffffff;
  font-family: Mulish;
  width: 100%;
  font-size: 68px;
  font-weight: lighter;
  position: relative;
  height: 125.31px;
  left: 1300px;
  right: 14.47%;
  top: 180px;
}
.btn-jumbo {
  color: #ff723d;

  border: none;
  background: none;
  position: absolute;
  height: 28.43px;
  left: 69%;
  right: 14.89%;
  top: 590px;

  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 200px;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: underline;
}
