#navbar2 {
  background-color: #92d2d9;
  padding-left: 50px;
}
#basic-nav-dropdown {
  color: #ffffff;
  font-family: Mulish;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.links {
  color: #ffffff !important;
  font-family: Mulish;
  font-weight: 700 !important;
  font-style: normal !important;
  font-size: 16px !important;
}
