.card {
  height: 174px;
  border-radius: 15px;
  margin: 10px;
  border: none;
  width: 380px;
}

.card-title {
  color: white;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.card-subtitle {
  color: white;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
