.car1 {
  width: 100%;
}
.caritem1 {
  width: 80%;
  margin: auto;
  float: none;
}

img {
  padding: 20px;
}
.carousel-control-next {
  background-color: black;
  width: 100px;
  height: 100px;
}
.carousel-control-prev {
  background-color: black;
  width: 100px;
  height: 100px;
}
