.car1 {
  width: 100%;
}
.caritem1 {
  width: 80%;
  margin: auto;
  float: none;
}

img {
  padding: 30px;
}
.carousel-control-next {
  background-color: black;
  width: 100px;
  height: 100px;
}
.carousel-control-prev {
  background-color: black;
  width: 100px;
  height: 100px;
}
#carleft1 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
#caright1 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
#carleft1:hover {
  color: black;
}
#caright1:hover {
  color: black;
}
