#jumbofot2 {
  width: 100%;
  height: 336px;
  background: #ff723d;
}
.mb-3 {
  background: #ffffff;
  border-radius: 12px;
  width: 650px;
  height: 70px;
  position: relative;
  left: 55%;
  bottom: 50%;
}
#newsletter {
  position: relative;
  left: 9%;
  top: 25%;
}
#btninput {
  height: 100%;
  font-family: Mulish;
}
.div-text {
  position: relative;
  left: 20%;
  width: 600px;
  bottom: 18%;
}

.h1jumbof2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}
.ptagjumbo2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
