#navbar1 {
  background-color: #ff723d;
}
#logo {
  margin-left: 60px;
}
.mr-sm-2 {
  width: 529px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  left: -10%;
}

.person-container {
  color: white;
  position: relative;
  right: 2%;
  cursor: pointer;
  top: -3px;
}
.cart-container {
  color: white;
  position: relative;
  right: 1%;
  cursor: pointer;
}
#person {
  font-size: 35px;
  color: #ffffff;
}
#cart {
  font-size: 30px;
  color: #ffffff;
}

#usd {
  color: white;
  font-size: 14px;
  width: 84px;
  height: 18px;
  padding-right: 20px;
  padding-top: 27px;
  cursor: pointer;
}
